body { font-size: 14px; line-height:1.4; font-family:Consolas,"Courier New",Î¢ÈíÑÅºÚ,Verdana,Arial,ËÎÌå; color: #000000; }
table { font-size: inherit; line-height:inherit; font-family: inherit; border-Collapse:Collapse; border:0px;}
td {border-color:#aaaaaa; padding:3px; border-left:1 solid #aaaaaa;border-top:1 solid #aaaaaa;}
td.noborder {border-color:#ffffff}
th {border-color:#aaaaaa; padding:3px; border-left:1 solid #aaaaaa;border-top:1 solid #aaaaaa; background-color:#eeeeee;}
button { font-size:10.5pt; line-height:14pt; font-family:Î¢ÈíÑÅºÚ,Verdana,Arial,ËÎÌå}
select { font-size:10.5pt; line-height:14pt; font-family:Î¢ÈíÑÅºÚ,Verdana,Arial,ËÎÌå}

.funcTD { border-right:0px;font-size:15px;color:#006677;font-weight:900 }
.programTable {	font-family:Consolas,"Courier New",Î¢ÈíÑÅºÚ,Verdana,Arial,ËÎÌå; font-size:14px; background-color:#f7f7da; border-Collapse:Collapse; }
td.program {border-right:1px solid #e0e0e0; border-top:0px; border-bottom:0px}
td.noline {border-right:0px; border-top:0px; border-bottom:0px; border-left:0px}

tr.example { background-color: #ffffcc; white-space: pre-wrap;}

img.imgleft
{
	float:left;
	margin-right:6px;
	margin-left:0px;
}
p.why
{
	margin-top:3px;
	margin-bottom:1px;
	font-weight:bold;
}

p.StyleProgram
{
	background-color: #ffffbb;
	FONT-SIZE: 9pt;	
	Font-family: Î¢ÈíÑÅºÚ,ÐÂËÎÌå;
}

p.glass
{
	padding-top:3px;
	margin-top:3px;
	margin-bottom:1px;
	color: #000050;
	font-weight:bold;
	font-style:italic;
}
p.sz1
{
	font-size:15pt;
	font-weight:bold;
}
p.sz2
{
	font-size:14pt;
	font-weight:bold;
}
p.sz3
{
	font-size:13pt;
	font-weight:bold;
}
p.sz4
{
	font-size:12pt;
	font-weight:bold;
}
p.sz5
{
	font-size:11pt;
	font-weight:bold;
}
