.v-css {
 border: 1px solid #704040;
  table-layout: fixed;
  width: 750px;
  line-height: 18px;
  color: rgb(35, 78, 143);
  border-collapse: collapse;
  margin: 5px;
  font-size: 14px;
  border-color: rgb(87, 46, 65);
  font-style: inherit;
  font-family: monospace;
  font-kerning: inherit;
}

.v-css td {
  width: 150px;
  border: 1px solid #999;
  word-wrap: break-word;
  word-break: break-all;
  padding: 5px;
}

.v-title {
  font-size: 13px;
  font-weight: 700;
  background-color: #9C6;
}

.v-fixed {
  background-color: #EEE;
}

.v-editor {
  border: 0;
}

.v-editor td {
  border: 0;
  padding: 0;
}

.v-inner {
  background: none;
}